<!DOCTYPE html>
<html>
<head>
	<title>Amazon Sentence Analyzer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <p style="text-align:center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/amazon_logo.gif" alt="Logo" style="width: 40%; height: auto; max-width: 200px; margin-top: 30px; margin-top: 30px"></p>
</head>
<body>


    <center>
    <div class="card card--blabla" style="max-width: 1200px; margin-top: 40px; margin-bottom:35px">
        <center>
        <h2>Are you struggling like Corgi to select a suitable text for your level in French?</h2>
            <h3 style="font-weight: normal">Check out our new tool below to analyze the difficulty of French sentences.</h3>
        </center>
        <div style="text-align: center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/corgi_1.gif" alt="Logo" style="width: 40%; height: auto; max-width: 200px"></div>
    </div>
    </center>


    <center>
    <div class="card card--blabla" style="max-width: 1200px; text-align: left">
    <div style="display: inline-block; text-align: left; width: 100%">
    <h2>Sentence Difficulty Analyzer</h2>

    <label class="input">
      <form action="{{ url_for('predict')}}" method="POST">

      <input class="input__field" type="text" placeholder=" " name="message" />
      <span class="input__label">Enter your sentence in French here</span>
    </label>
    <div class="button-group">
      <button type="submit" class="btn-info">Predict</button>
      <button type="reset">Reset</button>
        </form>
    </div>
    </div>
    </div>
    </center>


    <p style="text-align:center; margin-bottom: 20px"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/Arrow_bold.svg" alt="Arrow" style="width: 40%; height: auto; max-width: 200px; margin-top: 30px"></p>

    <center>
    <div class="card card--blabla" style="max-width: 1200px; text-align: left; margin-bottom:20px">
    <div style="display: inline-block; text-align: left; width: 100%">

    <h2>About This Project</h2>
    <p>This tool was produced by Team Amazon as part of the group project of the Big-Scale Analytics course.</p>
    <p style="text-align:center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/Team_member.svg" alt="Arrow" style="width: 100%; height: auto; max-width: 800px; margin-top: 0px"></p>
    <p>It aims to provide a model to help English speakers in their learning process by predicting the difficulty of a French sentence.</p>
    <p>The difficulty is classified in the 6 levels defined by the <a href="https://www.coe.int/en/web/common-european-framework-reference-languages">Common European Framework of Reference for Languages (CEFR)</a>: A1, A2, B1, B2, C1 and C2.</p>
        <p>For more information, please refer to our Github repo below.</p>

        <a href="https://hecnet.unil.ch/hec/syllabus/descriptif/2508?dyn_lang=en"><p style="text-align:center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/Logo_HEC.svg" alt="HEC" style="width: 30%; height: auto; max-width: 150px; margin-top: 30px"></p></a>
        <a href="https://github.com/epicalekspwner/BigScaleAnalytics2021"><p style="text-align:center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/Octicons-mark-github.svg" alt="Github" style="width: 10%; height: auto; max-width: 50px; margin-top: 30px"></p></a>

    </div>
    </div>
    </center>


    <p style="text-align: center">Creative Commons (CC) 2021 Team Amazon</p>


</body>
</html>