<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amazon Sentence Analyzer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <p style="text-align:center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/amazon_logo.gif" alt="Logo" style="width: 40%; height: auto; max-width: 200px; margin-top: 30px; margin-top: 30px"></p>
</head>
<body>

    <center>
    <div class="card card--blabla2" style="max-width: 1200px; margin-top: 40px; margin-bottom:35px; background-color: #f5b355">
        <center>
        <h2>Corgi is really sad!</h2>
            <h3 style="font-weight: normal">Check that you have entered a sentence in the field provided for this purpose.</h3>
        </center>
        <div style="text-align: center"><img src="https://raw.githubusercontent.com/epicalekspwner/miscellaneous/main/corgi_3.gif" alt="Logo" style="width: 40%; height: auto; max-width: 200px"></div>
        <h3 style="font-weight: normal; margin-bottom: 0px">Please try again. You don't want Corgi to be sad, do you?</h3>
    </div>
    </center>


    <center>
    <div class="card card--blabla2" style="max-width: 1200px; text-align: left; background-color: #f5b355; margin-bottom: 30px">
    <div style="display: inline-block; text-align: left; width: 100%">
    <h2>Sentence Difficulty Analyzer</h2>

    <label class="input">
      <form action="{{ url_for('predict')}}" method="POST">

      <input class="input__field" type="text" placeholder=" " name="message" />
      <span class="input__label">Enter your sentence in French here (for real this time)</span>
    </label>
    <div class="button-group">
      <button type="submit" class="btn-info">Predict</button>
      <button type="reset">Reset</button>
        </form>
    </div>
    </div>
    </div>
    </center>

    <p style="text-align: center">Creative Commons (CC) 2021 Team Amazon</p>

</body>
</html>